:root{
	--colorTitulos: #80ED99;
	--colorFondo: #22577A;
	--colorTextoEntrada: #08283e;
    --colorTexto2: #FFFFFF;
	--colorBackgroundGeneral: radial-gradient(circle, rgba(34,87,122,1) 18%, rgba(128,237,153,1) 100%);
	--colorPlaceholder: #08283e54;
}

*{
    font-family: 'Fredoka One', cursive;
    width: 100%;
}

body{

    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--colorBackgroundGeneral)
}

#welcome{
    background: var(--colorFondo);
    color: var(--colorTexto2);
    border-radius: 10px;
    height: 50px;
}
.main{
    width: 60%;
    margin: 10px;
    color: var(--colorTexto2);
    background: var(--colorTextoEntrada);
    padding: 20px 40px 20px 40px;
    text-align: justify;
    border-radius: 20px;
    box-shadow: 50px;
    font-size: 1.3rem;
}

.main h3, .main h1, .references h3{
    color: var(--colorTitulos);
    text-align: center;
}

.main ol, .main ul{
    width: 95%;
    text-align: left;
}

.main li{
    text-align: justify;
}

.especs ul{
    list-style: none;
}

.references{
    text-align: center;
}

.references a{
    text-decoration: none;
    color: var(--colorTitulos);
}

.main .picture{
    display: flex;
    justify-content: center;
}

.main .picture .imgs{
    width: 150px;
}