:root{
	--colorTitulos: #80ED99;
	--colorFondo: #22577A;
	--colorTextoEntrada: #08283e;
	--colorBackgroundGeneral: linear-gradient(337deg, rgba(34,87,122,1) 12%, 
	rgba(87,204,153,1) 36%, rgba(56,163,165,1) 71%, rgba(128,237,153,1) 87%);
	--colorPlaceholder: #08283e54;
}

body{
	margin:0;
	background: var(--colorBackgroundGeneral);
}

*{
	font-family: 'Fredoka One', cursive;
	font-size: 1rem;
	letter-spacing: 1px;
}

*,:after,:before{box-sizing:border-box}
.clearfix:after,.clearfix:before{content:'';display:table}
.clearfix:after{clear:both;display:block}
a{color:inherit;text-decoration:none}

.login-wrap{
	width:100%;
	margin:auto;
	width: 40%;
	height: 640px;
	min-width: 400px;
	min-height: 500px;
	position:relative;
	box-shadow:0 20px 20px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);
	
}
.login-html{
	width:100%;
	height:100%;
	min-height: 500px;
	position:absolute;
	padding:20px 70px 50px 70px;
	background:var(--colorFondo);
}
.login-html .sign-in-htm,
.login-html .sign-up-htm{
	top:0;
	left:0;
	right:0;
	bottom:0;
	position:absolute;
	transform:rotateY(180deg);
	backface-visibility:hidden;
	transition:all .4s linear;
	margin-top: 1.2rem;
}
.login-html .sign-in,
.login-html .sign-up,
.login-form .group .check{
	display:none;
}
.login-html .tab,
.login-form .group .label,
.login-form .group .button{
	text-transform:uppercase;
	cursor: pointer;
}
.login-html .tab{
	font-size:1.5rem;
	margin-right:15px;
	padding-bottom:5px;
	margin:0 15px 10px 0;
	display:inline-block;
	border-bottom:2px solid transparent;
}
.login-html .sign-in:checked + .tab,
.login-html .sign-up:checked + .tab{
	color:var(--colorTitulos);
	border-color:var(--colorTitulos);
}
.login-form{
	min-height:345px;
	position:relative;
	perspective:1000px;
	transform-style:preserve-3d;
}
.login-form .group{
	margin-bottom:15px;
	position: relative;
}

.fa-user, .fa-lock, .fa-at{
	position: absolute;
	top: 33px;
	left: 20px;
	color: #08283e;
}

.login-form .group .label,
.login-form .group .input,
.login-form .group .button{
	width:100%;
	color:var(--colorTitulos);
	display:block;
}

.login-form .group .input{
	margin-top: 5px;
	color: var(--colorTextoEntrada);
	padding-left: 45px !important;
}

.login-form .group .input::placeholder{
	color:var(--colorPlaceholder);
}

.login-form .group .input:focus{
	outline: none;
	background-color: #38A3A5;
	padding-left: 45px;
}

.login-form .group .button{
	color:var(--colorFondo);
	transition: all 300ms;
}
.login-form .group .input,
.login-form .group .button{
	border:none;
	padding:15px 20px;
	border-radius:25px;
	background:rgba(255,255,255,.1);
}
.login-form .group input[data-type="password"]{
	text-security:circle;
	-webkit-text-security:circle;
}
.login-form .group .label{
	color: var(--colorTitulos);
	font-size:12px;
}
.login-form .group .button{
	background: var(--colorTitulos);
	cursor: pointer;
}

.login-form .group .button:hover{
	background: var(--colorTextoEntrada);
	color: var(--colorTitulos);
}

.login-form .group .check:checked + label{
	color:var(--colorFondo);
}
.login-form .group .check:checked + label .icon{
	background:var(--colorTitulos);
}
.login-form .group .check:checked + label .icon:before{
	transform:scale(1) rotate(45deg);
}
.login-form .group .check:checked + label .icon:after{
	transform:scale(1) rotate(-45deg);
}
.login-html .sign-in:checked + .tab + .sign-up + .tab + .login-form .sign-in-htm{
	transform:rotate(0);
}
.login-html .sign-up:checked + .tab + .login-form .sign-up-htm{
	transform:rotate(0);
}

.hr{
	height:2px;
	margin-bottom: 20px;
	background: var(--colorTitulos);
}
.foot-lnk{
	text-align:center;
	color: var(--colorTitulos);
	text-transform:uppercase;
	padding: 2px;
	transition: all 300ms;
}

.foot-lnk:hover{
	color: #57CC99;
	cursor: pointer;
	border-color: #08283e;
	background: #08283e;
	border-radius: 15px;
	padding: 2px;
}
.foot-lnk label{
	cursor: pointer;
}

.alert{
	text-transform:uppercase;
	text-align: center;
	border-radius: 15px;
	margin-top: 5px;
	font-size: 15px;
}
.error{	
	color: #a9d107;
}

.success{
	color: var(--colorTitulos);
}

.icons{
	display: flex;
	justify-content: space-between;
	margin-top: 20px;
}

.icons img{
	margin-left: 12px;
	margin-right: 12px;
	width: 50px;
	transition: all 300ms;
}

.icons img:hover{
	bottom: 20px;
	width: 55px;
}

/* latin */
@font-face {
	font-family: 'Fredoka One';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url(/LS_sessions/assets/fonts/k3kUo8kEI-tA1RRcTZGmTlHGCac.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }